Scikit Learn

An End To end scikit-learn workflow
Getting the data ready
choosing the right estimator and algorithm of our problems
fit the model and use it to make predictions on data
Evaluating a model
Improve a model
Save and load a trained model
putting it all together

# An End to End scikit-learn workflow

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
#create x (features matrix)
X=heart_disease.drop("target",axis=1)

#create y (label)
Y=heart_disease["target"]

In [3]:
#choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

#we will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
#fit the model tto the training data
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [5]:
clf.fit(X_train,Y_train)

RandomForestClassifier()

In [6]:
#make a prediction 
import numpy as np

In [7]:
# Y_label=clf.predict(np.array([0,2,3,4]))

In [8]:
ypreds=clf.predict(X_test)

In [9]:
ypreds

array([1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1], dtype=int64)

In [10]:
Y_test

62     1
170    0
237    0
212    0
23     1
      ..
70     1
20     1
74     1
176    0
17     1
Name: target, Length: 61, dtype: int64

In [11]:
#Evaluating the model how well it predict 
clf.score(X_train,Y_train)

1.0

In [12]:
clf.score(X_test,Y_test)

0.819672131147541

In [13]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [14]:
print(classification_report(Y_test,ypreds))

              precision    recall  f1-score   support

           0       0.78      0.86      0.82        29
           1       0.86      0.78      0.82        32

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [15]:
print(confusion_matrix(Y_test,ypreds))

[[25  4]
 [ 7 25]]

In [16]:
print(accuracy_score(Y_test,ypreds))

0.819672131147541

In [17]:
#improve a model
#Improving by tuning various hyperparameters
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print("Model accuracy on test set")
    print(f"{clf.score(X_test,Y_test)*100}%")
    print("")

Trying model with 10 estimators
Model accuracy on test set
77.04918032786885%

Trying model with 20 estimators
Model accuracy on test set
81.9672131147541%

Trying model with 30 estimators
Model accuracy on test set
77.04918032786885%

Trying model with 40 estimators
Model accuracy on test set
80.32786885245902%

Trying model with 50 estimators
Model accuracy on test set
75.40983606557377%

Trying model with 60 estimators
Model accuracy on test set
80.32786885245902%

Trying model with 70 estimators
Model accuracy on test set
78.68852459016394%

Trying model with 80 estimators
Model accuracy on test set
77.04918032786885%

Trying model with 90 estimators
Model accuracy on test set
80.32786885245902%

In [18]:
#save a model and load it 
import pickle

pickle.dump(clf,open("heart_disease_RandomForest_ModelOne.pkl","wb"))

In [19]:
#loading a saved model
loaded_model=pickle.load(open("heart_disease_RandomForest_ModelOne.pkl","rb"))
loaded_model.score(X_test,Y_test)

0.9508196721311475

# Getting our data ready to be used

# Three main things we have to do here -
1.Split the data into the features and labels (X=features and y=labels)
2.Filling also called imputing or disregarding missing values
3.Converting non-numericcal values to numerical values (also called feature encoding)

In [20]:
#features and labels
X=heart_disease.drop("target",axis=1)

In [21]:
y=heart_disease["target"]

In [22]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [23]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [24]:
#splitting the data into train and tests
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [25]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))